/* Banner styles */

#banner {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    z-index: 1000;
  }
  
  /* Body styles */
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
  }
  
  /* Container styles */
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  /* Heading styles */
  
  h1 {
    font-size: 24px;
    color: #fff;
  }
  
  /* Mondrian canvas styles */
  
  #mondrianCanvas {
    display: block;
    margin: 0 auto;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 50px);
  }
  
  /* Body and html styles */
  
  body,
  html {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
  }
  
  /* Canvas styles */
  
  canvas {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 50px);
  }
  
  /* Button container styles */
  
  #buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    font-family: Garamond, serif;
  }
  
  /* Button styles */
  
  button {
    background-color: transparent;
    color: white;
    font-size: 20px;
    text-transform: lowercase;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
  }
  
  /* Container styles */
  
  .container {
    text-align: center;
    padding-top: 20px;
  }
  
  /* Heading styles */
  
  h1 {
    background-color: transparent;
    position: center;
    padding: 10px;
    font-size: 72px;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(#1e5799, #7db9e8);
    background-clip: text;
    display: inline-block;
  }
  
  /* Modern minimalist button styles */
  
  .modern-minimalist-button {
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: opacity 2.5s ease-in-out;
    font-family: Futura, Arial, sans-serif;
    outline: none;
  }
  